<div class="row">
    <h2>Movies</h2>
    <div>
        <label>Search by movie name</label>
        <input type="text"/><br>
        <input type="checkbox" name="category" value="Comedy">Comedy<br>
    </div>
    <div class="col-md-4">
        <h3>Movie title  (Year)</h3>
        <p>Rating: 10</p>
        <p>Movie category</p>

        <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
            a broad range of clients, including browsers and mobile devices. ASP.NET Web API
            is an ideal platform for building RESTful applications on the .NET Framework.</p>

        <p><a class="btn btn-default" href="">Details &raquo;</a> <!--direct to movie detail view-->
        </p>
    </div>
</div>
