<div ng-model="movies">
    <h2>Movies</h2>
    <div>
        <label>Search by movie name</label>
        <input type="text" ng-model="search"/><br>
        <div ng-repeat="category in categories">
            <label>{{category.name}}</label>
            <input type="checkbox" ng-model="selectedCategory" value="{{category}}">
        </div>
        <br>
    </div>
    <div class="grid-x grid-padding-x">
        <div class="large-4 medium-4 small-4 cell" ng-repeat="movie in movies | filter: {Title: search} ">
            <h3>{{movie.Title}}  ({{movie.Year}})</h3>
            <p>Rating: {{movie.Rating}}</p>
            <p>{{movie.CategoryId}}</p>

            <p>
                <a class="button" ng-href="/#!/movieDetails/{{movie.MovieId}}">Details</a>
            </p>
        </div>
    </div>
</div>