<div ng-model="movies">
    <h2>Movies</h2>
    <div class="">
        <div>
            <!--https://github.com/darylrowland/angucomplete-->
            <angucomplete id="ex1"
                          placeholder="Search movies(autocomplete)"
                          pause="100"
                          selectedobject="searchFilter.movie"
                          localdata="movies"
                          searchfields="Title"
                          titlefield="Title"
                          minlength="1"
                          inputclass="form-control form-control-small"/>
        </div>

        <input type="text" ng-model="searchFilter.title" placeholder="Search movies"/>
        <div class="" ng-repeat="category in searchFilter.categories">
            <label>{{category.name}}</label>
            <input type="checkbox" ng-model="category.selected" name="filter">
        </div>
    </div>
    <div class="">
        <div class="" ng-repeat="movie in movies | movieFilter: searchFilter">
            <h3>{{movie.Title}}  ({{movie.Year}})</h3>
            <p>Rating: {{movie.Rating}}</p>
            <p>{{getCategory(movie.CategoryId).name}}</p>

            <p>
                <a class="" ng-href="/#!/movieDetails/{{movie.MovieId}}">Details</a>
            </p>
        </div>
    </div>
</div>